<template>
  <div class="container">
      <div class="auteur" v-html="nomAuteur"></div>
      <div class="date" v-html="date"></div>

  </div>
</template>

<script>
export default {
  name: "Auteur",
  props:
  {
    nomAuteur: String,
    date: String
  }
};
</script>

<style scoped>
    .container{
      display:flex;
      flex-direction: column;
      justify-content: right;

    }
    .auteur
    {
      font-size: 20px;
      text-align:right;
      margin-right: 20px;
    }

    .date
    {
      font-size: 10px;
      text-align:right;
      color:darkgrey;
      margin-right: 20px;
    }
</style>