<template>
    <div class="content-header">
        <div class="content-header-title">
            <h1>
               {{ title }}
            </h1>
        </div>
        <div class="content-header-image">
            <img class="image" :src="require(`../../../assets/${imgurl}`)"/>
        </div>
    </div>
</template>

<script>
export default {
    name: "ContentHeader",
    props: {
        title: String,
        imgurl: String,
    }
}
</script>

<style scoped>
    .content-header {
        width: 100%;
    }

    .content-header .content-header-title {
        text-align: center;
        font-size: 30px;
    }

    .content-header .content-header-image {
        background-position: center;
        display: flex;
        justify-content: center;
    }
    .image{
        max-width: 768px;
        max-height: 600px;
        width: auto;
        height: auto;
    }
</style>
