<template>
    <div class="content-info">
        <p class = "nom">Jeu: {{nomJeu}}</p>
        <p class = "cat"> Genre: {{categorie}}</p>
        <p class = "note"> Note: {{note}}</p>
    </div>
</template>

<script>
export default {
    name: "ContentInfo",
    props: {
        nomJeu: String,
        categorie: String,
        note: String
    }
}
</script>

<style scoped>
.content-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
}
</style>
