<template>
    <div>
        <router-link :to="{name: 'home'}">
            <img class=logo src="../../../assets/logo.png" alt = "Home">
       </router-link> 
    </div>
</template>

<script>
    export default {
        name: "Logo",
        methods: 
        {
            redirectToHome(e)
            {
                this.$router.push({name: "home"});
                e.preventDefault();
            }
        }
    }
</script>

<style scoped>
    .logo {
        display: flex;
        position: relative;

        align-items: center;
        justify-content: flex-start; 


        width: 80px;
        height: 80px;

        text-align: center;

        margin-left: 10vw;
    }
</style>