<template>
    <div>
        <router-link :to="{name: 'tests'}">
            <button class="boutonMenu">Tests</button>
        </router-link>
        <router-link :to="{name: 'form'}">
            <button class="boutonMenu">Écrire un test</button>
        </router-link>
    </div>
</template>

<script>
    export default {
        name: "Menu"
    }
</script>

<style scoped>
    .boutonMenu
    {
        height: 60px;
        margin-right: 10px;
        width: 200px;;
        background-color: #2c2c2c;
        font-size: 20px;
        color:beige;
    }
</style>