<template>
    <div class="home">
        <CategoryMain :categoryId="$route.params.id"/>
        <Footer />
    </div>
</template>

<script>
    import CategoryMain from "@/components/CategoryMain.vue"
    import Footer from "@/components/Footer.vue"

    export default {
        name: "Tests",
        components: {
            CategoryMain,
            Footer
        }
    }
</script>

<style scoped>
    .home {
        display:flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #3B3F48;
        width: 100%;
    }
</style>