<template>
  <div class="main">
    <div class="wrapper">
        <div class = "menuCategories">
            <h3 class="titre">Categories:</h3>
            <router-link class="lien" :to="{name: 'category', params:{id: 0}}">RPG</router-link>
            <router-link class="lien" :to="{name: 'category', params:{id: 1}}">FPS</router-link>
            <router-link class="lien" :to="{name: 'category', params:{id: 2}}">MMO</router-link>
            <router-link class="lien" :to="{name: 'category', params:{id: 3}}">RTS</router-link>
        </div>
        <Thumbnail v-for="(test, index) in tests" :key="test.id" :imgName="test[2]" :title="test[0]" :articleId="index.toString()" :note="test[7]"/>
    
    </div>
    
    
  </div>
</template>

<script>
import Thumbnail from "@/components/commons/content/Thumbnail.vue";
import axios from 'axios';

export default {
  name: "CategoryMain",
  props:{
      categoryId: Number
  },
  components:{
    Thumbnail
  },
  data() {
    return {
      tests: [][8],
      categories: ["RPG", "FPS, MMO, RTS"]
    }

  },

  methods:{
    getGames: function(){
      axios.get("http://localhost:3000/games")
      .then((response) =>{
        this.tests = response.data;
        if(this.categoryId != undefined)
        {
            for(let i = 0; i < this.tests.length; ++i){
                if(this.tests[i][6] != this.categories[this.categoryId])
                {
                    this.tests.splice(i, 1);
                    --i;
                }
            }
        }
      }, (error) => {
         console.log(error);
      })
    }
  },
  beforeMount(){
    this.getGames();
  }
};


</script>

<style scoped>

.main {
  width: 1280px;
  display:flex;
  flex-direction:row;
  
}

.wrapper{
  position:relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%
}

.menuCategories{
    background-color: darkslateblue;
    color: beige;
    display:flex;
    flex-direction: column;
    padding-right: 100px;
}

.lien{
    margin-top: 20px;
}
</style>