<template>
    <div class="footer">
        <div class = "footerContent">
            <p class="titre">Catégories</p>
            <router-link class="lien" :to="{name: 'category', params:{id: 0}}">RPG</router-link>
            <router-link class="lien" :to="{name: 'category', params:{id: 1}}">FPS</router-link>
            <router-link class="lien" :to="{name: 'category', params:{id: 2}}">MMO</router-link>
            <router-link class="lien" :to="{name: 'category', params:{id: 3}}">RTS</router-link>
        </div>

        <div class = "footerContent">
            <p class="titre">Nous contacter</p>
            <a class="lien" href="">-Email</a>
            <a class="lien" href="">-Flux RSS</a>
            <a class="lien" href="">-Newsletter</a>
        </div>

        <div class = "footerContent">
            <p class="titre">Assistance</p>
            <a class="lien" href="">-Mention légale</a>
            <a class="lien" href="">-Support</a>
            <a class="lien" href="">-Charte de confidentialité</a>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
    .footer {
        display: flex;
        align-items: center;
        justify-content: center; 
        flex-direction: row;

        width: 100%;
        height: 300px;
        background-color: #2C2C2C;

        color: beige;
    }
    .footerContent
    {
        display:flex;
        flex-direction: column;
        margin: 100px;
        width: 200px;
        height: 200px;
        background-color:darkslateblue;
        color:#E7E6E6;
    }
    .titre
    {
        font-size:24px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align:center;
    }
    .lien
    {
        text-decoration: underline;
        margin-left: 10px;
        margin-top: 5px;
        font-size:20px;
    }
</style>
