<template>
  <div class="main">
    <h1 class="titre">Écris ton propre test!</h1>
    <div class="container-form">
        <form id="testForm" @submit="sendForm">
            <div class="element">
                <label for="ftitre">Titre: </label>
                <input type="text" id="ftitre" name="ftitre"><br>
            </div>

            <div class="element">
                <label for="fnom">Nom du jeu: </label>
                <input type="text" id="fnom" name="fnom"><br>
            </div>

            <div class="element">
                <label for="fauteur">Auteur: </label>
                <input type="text" id="fauteur" name="fauteur"><br>
            </div>
            
            <div class="element">
                <label for="fimage">Image: </label>
                <input type="file" id="fimage" ref = "file" name="fimage" accept="image/jpeg" v-on:change="handleFileUpload"><br>
            </div>
            
            <div class="element">
                <label for="fcategorie">Catégorie: </label>
                <select id="fcategorie" name="categorie">
                <option value="rpg">RPG</option>
                <option value="fps">FPS</option>
                <option value ="mmo">MMO</option>
                <option value="rts">RTS</option>
                </select><br>
            </div>
            
            <div class="element">
                <label for="fnote">Note: </label>
                <input type="number" id="fnote" name="fnote" min="0" max="10"><br>
            </div>
            <div class="element">
                <input type="submit" id="fsubmit">
            </div>
        </form>
        <div class="element">
            <textarea rows=8 cols=75 id= "ftexte" name="ftexte" form="testForm">Écrire votre test ici...</textarea>
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "Form",
  components:{
  },
  data() {
    return {
      tests: [][8],
      file: ''
    }

  },

  methods:{
    getGames: function(){
      axios.get("http://localhost:3000/games")
      .then((response) =>{
        this.tests = response.data;
        
        let titre = document.getElementById("ftitre").value;
        let auteur = document.getElementById("fauteur").value;
        let nom = document.getElementById("fnom").value;
        let categorie = document.getElementById("fcategorie").value;
        let note = document.getElementById("fnote").value;
        let texte = document.getElementById("ftexte").value;
        
        let annee = new Date().getFullYear();
        let mois = new Date().getMonth();
        let jour = new Date().getDate();
        let fulldate = annee.toString() + "-" + mois.toString() + "-" + jour.toString();        
        
        let nouveauNom = "thumbnail-default.jpg"
        
        //Tentative de copier le contenu du fichier dans assets, ce qui n'a pas fonctionné...
        //let fs = require('fs');
        //fs.createReadStream(this.file.name).pipe(fs.createWriteStream(nouveauNom));

        let test = {
            titre: titre,
            auteur: auteur,
            image: nouveauNom,
            date: fulldate,
            texte: texte,
            nom: nom,
            categorie: categorie,
            note: note
        }

        axios.put("http://localhost:3000/game", test)
        .then(function (response){
            console.log(response);
        })
        .catch(function(error){
            console.log(error);
        })

      }, (error) => {
         console.log(error);
      })
    },
    sendForm: function(){
        this.getGames();      
    },
    handleFileUpload: function(){
        this.file = this.$refs.file.files[0];
    }
  }
};


</script>

<style scoped>

.main {
  width: 1280px;
}

.container-form{
    display:flex;
    justify-content:center;
    flex-direction: row;
}
label{
    color: beige;
}

.element{
    margin:40px;
}
.titre{
    color:beige;
    text-align:center;

}

#fsubmit{
    width: 125px;
    height:50px;
}

</style>