<template>
    <div class="header">
        <Logo />
        <p class = "nom">PITAYA PLAY</p>
        <Menu class = "menu" />
    </div>
</template>

<script>
    import Logo from "@/components/commons/content/Logo.vue"
    import Menu from "@/components/commons/content/Menu.vue"

    export default {
        name: "Header",
        components:
        {
            Logo,
            Menu
        }
    }
</script>

<style scoped>
    .header {
        display: flex;
        position: relative;

        align-items: center;
        justify-content: flex-start; 

        background-color: #2c2c2c;

        width: 100%;
        height: 80px;

        color: beige;

        text-align: center;
    }
    .nom
    {
        margin-left: 10px;
        flex-grow: 4;
        text-align: left;
    }

    .menu
    {
        margin-right: 100px;
    }

</style>