<template>
  <div class="main">
    <div class="wrapper">
      <Thumbnail v-for="(test, index) in tests" :key="test.id" :imgName="test[2]" :title="test[0]" :articleId="index.toString()" :note="test[7]"/>
    </div>
    
    
  </div>
</template>

<script>
import Thumbnail from "@/components/commons/content/Thumbnail.vue";
import axios from 'axios';

export default {
  name: "Main",
  components:{
    Thumbnail
  },
  data() {
    return {
      tests: [][8]
    }

  },

  methods:{
    getGames: function(){
      axios.get("http://localhost:3000/games")
      .then((response) =>{
        this.tests = response.data;
      }, (error) => {
         console.log(error);
      })
    }
  },
  beforeMount(){
    this.getGames();
  }
};


</script>

<style scoped>

.main {
  width: 1280px;
}

.wrapper{
  position:relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%
}
</style>