<template>
    <div class="home">
        <Test :articleId="$route.params.id"/>
        <Footer />
    </div>
</template>

<script>
    import Test from "@/components/ContenuArticles/ArticleMain.vue"
    import Footer from "@/components/Footer.vue"

    export default {
        name: "Game",
        components: {
            Test,
            Footer
        }
    }
</script>

<style scoped>
    .home {
        background-color: #3B3F48;
        width: 100%;
    }
</style>
