<template>
    <div class="home">
        <Form/>
        <Footer />
    </div>
</template>

<script>
    import Form from "@/components/Form.vue"
    import Footer from "@/components/Footer.vue"

    export default {
        name: "FormPage",
        components: {
            Form,
            Footer
        }
    }
</script>

<style scoped>
    .home {
        display:flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #3B3F48;
        width: 100%;
    }
</style>